root = true

[*.{cs,ttsql,sql,ts,tsx,js,css,scss,json,xml}]
end_of_line = crlf
charset = utf-8-bom
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.cs]
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1008: Enums should have zero value
dotnet_diagnostic.CA1008.severity = none

# CA1012: Abstract types should not have public constructors
dotnet_diagnostic.CA1012.severity = none

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = none

# CA1028: Enum Storage should be Int32
dotnet_diagnostic.CA1028.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1056: Change the type of property 'SMPPConnection.Url' from 'string' to 'System.Uri'
dotnet_diagnostic.CA1056.severity = none

# CA1069: Enums values should not be duplicated
dotnet_diagnostic.CA1069.severity = none

# CA1508: 'timeoutMessages == null' is always 'false'. Remove or refactor the condition(s) to avoid dead code.
dotnet_diagnostic.CA1508.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA2002: Do not lock on objects with weak identity
dotnet_diagnostic.CA2002.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2008: Do not create tasks without passing a TaskScheduler
dotnet_diagnostic.CA2008.severity = none

# CA2213: 'SMPPConnection' contains field '_tcpClient' that is of IDisposable type 'TcpClient', but it is never disposed. Change the Dispose method on 'SMPPConnection' to call Close or Dispose on this field.
dotnet_diagnostic.CA2213.severity = none
